---
---

/*
 * jwt-decoder.scss
 * Author: Hwa Li <hwa.li@outlook.com>
 */

@charset "utf-8";

#token {
  width: calc(100% - 220px);
  min-width: 200px;
  height: 22px;
}

#decode {
  width: 100px;
  height: 22px;
  border-radius: 5px;
}

#token-header,
#token-payload {
  white-space: pre-wrap;
  word-break: break-all;
}

#error-message {
  color: red;
}
